* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
}
.container {
  display: flex;
  position: relative;
  /* width: 1396px;
  max-width: 100%;
  height: calc(100vh - 40px); */
  background: #fff;
  height: calc(100vh - 40px);
  width: 90%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.container .leftside {
  position: relative;
  flex: 30%;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container .rightside {
  position: relative;
  flex: 70%;
  background: #e5ddd5;
  border-right: 1px solid #000;
}
.container .rightside::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(images/pattern.png);
  opacity: 0.06;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userImg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.cover {
  /* margin-right: 15px; */
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav_icons {
  display: flex;
}

/* .nav_icons ul {
  display: flex;
} */
.nav_icons li {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #51585c;
  margin-left: 20px;
}

.search-chat {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  padding: 0 15px;
}
.search-chat div {
  width: 100%;
}

.search-chat div input {
  width: 100%;
  height: 38px;
  padding: 6px;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}

.search-chat div input::placeholder {
  color: #bbb;
}
.search-chat div ion-icon {
  /* position: relative;
  bottom: 25px; */
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}

.chatList {
  position: relative;
  overflow-y: auto;
  height: calc(100% - 110px);
  /* background: #fff; */
  cursor: pointer;
}

.chatList .block {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.chatList .block.active {
  background: #ebebeb;
}

.chatList .block:hover {
  background: #f5f5f5;
}


.chatList .block .imgbx {
  position: relative;
  min-width: 45px;
  height: 45px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 50%;
}

.chatList .block .details {
  /* display: flex;
  flex-direction: row; */
  position: relative;
  width: 100%;
}

.chatList .block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* .chatList .block:hover{
  background: #f1eded;
} */

.chatList .block .details .listHead h4 {
  font-size: 0.9em;
  font-weight: 600;
  color: #111;
}

.chatList .block .details .listHead .time {
  font-size: 0.75em;
  color: #aaa;
}
.chatList .block.unread .details .listHead .time {
  color: #06d755;
}

.chatList .block .details .listHead .time {
  color: #111;
}
.chatList .block.read .details .listHead .time{
  color: #aaa;
}
.message-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.message-p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-p b {
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

.imgText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.imgText h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgText h4 span {
  font-size: 0.8em;
  color: #555;
}

/* Chat box */

.chatBox {
  position: relative;
  height: calc(100% - 120px);
  width: 100%;
  padding: 30px;
  overflow-y: auto;
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message p {
  font-size: 14px;
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #dcf8c6;
  /* background: red; */
  border-radius: 10px;
}

.message p::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    135deg,
    #dcf8c6 0%,
    #dcf8c6 50%,
    transparent 50%,
    transparent
  );
  height: 20px;
  width: 20px;
  top: 0;
  right: -12px;
}

.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}

.message.my_message{
  justify-content: flex-end;

}
.message.my_message p{
  text-align: left;

}

.message.frnd_message{
  justify-content: flex-start;
}

.message.frnd_message p {
  background-color: #fff;
  text-align: left;
}

.message.frnd_message p::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
  height: 20px;
  width: 20px;
  top: 0;
  left: -12px;
}

.chat-input{
  position: relative;
  width: 100%;
  height: 60px;
  background: #f0f0f0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input ion-icon {
  font-size: 1.8em;
  cursor: pointer;
  color: #51585c;
}
.chat-input ion-icon:nth-child(1){
  margin-right: 15px;
}

.chat-input input{
  position: relative;
  width: 90%;
  padding: 10px 20px;
  margin: 0 20px;
  border: none;
  outline: none;
  border-radius: 30px;
}
#send {
  margin-left: 10px;
}